# Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
#i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
#ii) Top 10 ODI Batsmen in men along with the records of their team and rating.
#iii) Top 10 ODI bowlers along with the records of their team and rating.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
driver=webdriver.Chrome(r"/home/sudhakar/Downloads/chromedriver")

In [3]:
url="https://www.icc-cricket.com/rankings/mens/team-rankings/odi"

In [4]:
driver.get(url)

In [18]:
name_tags=driver.find_elements_by_xpath("//span[@class='u-hide-phablet']")

In [19]:
name_tags

[<selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="0ca7418e-ce8b-4837-8f4f-45bf51587416")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="ecc1d4a5-0b16-4fc2-956e-358146351894")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="fa8a9967-8838-4d80-8b0f-43065f622605")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="baab1b60-49bf-46a1-ae27-4d67720b728a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="e929fbec-4168-4d55-b079-9c109d6f0873")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="272a6e27-6815-4c6f-a0cf-bb62ec009e1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="4cecb4c8-4213-48a8-afff-b58dfdf7e55d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="ca89bbb7-18d2-41f8-bc06-73976a59694b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="6db40f28-e8af-4667-be34-945f0f8ecaa6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="fd843181-77e2-48c6-b340-c0890657dd9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="04900721-54c0-4514-9d6c-8c265abca892")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="876abdf7-562a-4523-8a23-d4cb6b8eb721")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="e3dcb4b7-bfb2-419d-a946-7629e3a36f90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="a0949f12-dfd7-4bbc-b2a8-370aca655ea5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="36179f7b-8a06-4344-a567-638eea4026e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="cd95fb7b-c900-4b66-be61-af109ddb8413")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="c54f7921-7a1b-4f7d-9bd4-9161b1823e4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="84ed80d6-c9d6-4b85-8926-def3a8e43b4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="f17d205f-667e-447d-81d9-6efc9a7462f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="afd92e6d-aad1-42b8-9207-a1bbae6cc3f1")>]

In [20]:
TEAM=[]
for i in name_tags:
    name1=i.text
    TEAM.append(name1)

In [21]:
TEAM

['England',
 'India',
 'New Zealand',
 'Australia',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'West Indies',
 'Afghanistan',
 'Ireland',
 'Netherlands',
 'Zimbabwe',
 'Oman',
 'Scotland',
 'Nepal',
 'UAE',
 'Namibia',
 'United States',
 'Papua New Guinea']

In [33]:
match_tags=driver.find_elements_by_xpath("//td[@class='rankings-block__banner--matches']")

In [34]:
match_tags

In [35]:
MATCHES=[]
for i in match_tags:
    name1=i.text
    MATCHES.append(name1)

In [36]:
MATCHES

['44']

In [76]:
match_tags2=driver.find_elements_by_xpath("//tr[@class='table-body']/td[3]")

In [77]:
match_tags2

[<selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="9200812a-e57f-4d95-95c8-6735616bfef3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="912b06a2-e96d-41da-8b74-d72361c4fbe8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="088e01c1-9eed-4f4a-9ba8-f735a42771bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="3f29c16e-6538-4b39-89cb-acd583341941")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="75d3d356-5855-4225-bdc1-c91c0c9f1632")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="cf6fd49d-21a8-41fd-aad3-fb1fd8bf32ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="e48d452b-1f38-45fd-beae-0c9036c7e52e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="a28bdf66-3ff2-4405-b442-1a9045eb8fb6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="14d82f06-4b40-47ad-a0d4-db81d2fbfd86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="afeb3ba4-f7c6-4572-bf8e-032cd01ed822")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="7fbc5837-0cc0-4840-ad2b-503313bc7500")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="b51a72dc-aa3c-437a-97d9-2c71287823e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="e03d309b-fa0d-47ab-8929-8c076a4511b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="40269f4d-9e29-490e-be58-9c3b05613ce3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="406f843d-ec9a-4ac0-8d54-7be52e757f74")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="e1d7a9fc-132b-4d5b-9fd1-e0707b5be1ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="a8305e68-9489-4baf-a116-53b410b914b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="8381d838-0239-4cd8-9da0-c982107f5c37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="b865c93e-77cb-4d25-b82b-3e16e8cfb77f")>]

In [78]:
MATCHES2=[]
for i in match_tags2:
    name2=i.text
    MATCHES2.append(name2)

In [79]:
MATCHES2

['52',
 '32',
 '39',
 '31',
 '35',
 '34',
 '39',
 '43',
 '28',
 '24',
 '5',
 '27',
 '12',
 '16',
 '9',
 '15',
 '9',
 '14',
 '14']

In [81]:
type(MATCHES2)

list

In [82]:
MATCHES3=MATCHES+MATCHES2

In [83]:
MATCHES3

['44',
 '52',
 '32',
 '39',
 '31',
 '35',
 '34',
 '39',
 '43',
 '28',
 '24',
 '5',
 '27',
 '12',
 '16',
 '9',
 '15',
 '9',
 '14',
 '14']

In [85]:
point_tags1=driver.find_elements_by_xpath("//td[@class='rankings-block__banner--points']")

In [86]:
point_tags1

In [88]:
POINT1=[]
for i in point_tags1:
    name3=i.text
    POINT1.append(name3)

In [89]:
POINT1

['5,405']

In [100]:
point_tags2=driver.find_elements_by_xpath("//tr[@class='table-body']/td[4]")

In [101]:
point_tags2

[<selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="c1ee3973-ab61-4e1b-a5b6-355522903ccb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="9c7b9df9-eb39-4021-a46c-72948b641335")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="aea075f2-77fb-465f-9ac9-9752f8bc05df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="f3d6e73c-cbd8-48d7-835b-bc0c8941ba2a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="a44d72f8-e54b-4b6e-b6a5-1f761ddd9d15")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="82e2069f-a6f0-4334-a314-d88be8c643a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="572350ee-cebe-4e90-88fc-21049cbd289e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="24d26e01-c88b-4050-b36a-d3474bc1ed73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="2f61ef27-4588-4a11-b01b-774ffbf50bb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="92d38662-b1bc-422c-9eea-c2bc39fb54a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="d493e59d-a982-42ee-ac9c-e8c68a9da237")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="870f8ea9-9503-4380-8457-e9270c938581")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="7d060478-92cd-4ae9-9db3-f71193227f5c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="30bb731a-4681-4f34-b9b9-911393ae2eb4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="77eb66a7-b1a9-49aa-9f73-c0afba81afa3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="2fae4b4e-70e4-4a09-9542-f989d02e88fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="a3770f40-f72d-42d7-ace3-e1e648c44fbd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="3f47f90d-86ed-4d6e-a8f2-cf117ff749df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="fad2643a-f6d8-4a33-b98c-eaef252605c6")>]

In [102]:
POINT2=[]
for i in point_tags2:
    name4=i.text
    POINT2.append(name4)

In [103]:
POINT2

['6,102',
 '3,716',
 '4,344',
 '3,345',
 '3,490',
 '2,989',
 '3,297',
 '3,285',
 '1,549',
 '1,256',
 '222',
 '1,121',
 '479',
 '419',
 '161',
 '259',
 '152',
 '185',
 '0']

In [105]:
POINT3=POINT1+POINT2

In [106]:
POINT3

['5,405',
 '6,102',
 '3,716',
 '4,344',
 '3,345',
 '3,490',
 '2,989',
 '3,297',
 '3,285',
 '1,549',
 '1,256',
 '222',
 '1,121',
 '479',
 '419',
 '161',
 '259',
 '152',
 '185',
 '0']

In [107]:
rating_tags1=driver.find_elements_by_xpath("//td[@class='rankings-block__banner--rating u-text-right']")

In [108]:
rating_tags1

In [109]:
RATING1=[]
for i in rating_tags1:
    name5=i.text
    RATING1.append(name5)

In [110]:
RATING1

['123']

In [111]:
rating_tags2=driver.find_elements_by_xpath("//td[@class='table-body__cell u-text-right rating']")

In [112]:
rating_tags2

[<selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="1b4b0224-2169-4ce8-9d7b-486c03d042f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="b3ee03d8-8a08-42f9-9211-fa22ae04e4cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="2ac05f92-c439-45d6-82b7-98fceadbaf57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="fff7e815-d15d-420b-86c8-6bc850cb378f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="f9e25aa2-9610-40d7-a37f-5e0a91a05723")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="dc246a03-a855-4636-a18e-bb97721c26f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="224665e7-9b30-42fd-8740-475c0695e0a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="1bb5076c-9b06-4323-a1bb-994dde8c873e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="f39bf466-a014-4d9d-b4f4-61f322ee22f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="9b8854a2-5791-4e8e-933d-3cdbb414f10d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="23117451-a83e-40c5-aa2a-7fcfa6f736f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="862c5fcb-1174-4ddf-b286-60e2e6442025")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="1821cdc0-8c6b-428f-a49f-7566842e08e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="f1f08bbe-2a0d-4af9-8b4a-f8643175507c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="f6b9621f-012d-4d42-94bf-71e6a683094b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="822ac1cb-8696-4c08-8555-8159a7ff9103")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="d3085907-406b-45aa-9453-0cfa0f300aeb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="20108d6e-5240-40b7-901c-91a6c72d6fbb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="07a2f72a341feaa7dd6b00abb022c40c", element="ba8778ed-10ef-4b86-8911-d54508088851")>]

In [113]:
RATING2=[]
for i in rating_tags2:
    name6=i.text
    RATING2.append(name6)

In [114]:
RATING2

['117',
 '116',
 '111',
 '108',
 '100',
 '88',
 '85',
 '76',
 '55',
 '52',
 '44',
 '42',
 '40',
 '26',
 '18',
 '17',
 '17',
 '13',
 '0']

In [115]:
RATING3=RATING1+RATING2

In [116]:
RATING3

['123',
 '117',
 '116',
 '111',
 '108',
 '100',
 '88',
 '85',
 '76',
 '55',
 '52',
 '44',
 '42',
 '40',
 '26',
 '18',
 '17',
 '17',
 '13',
 '0']

In [117]:
print(len(TEAM),len(MATCHES3),len(POINT3))

20 20 20

In [118]:
import pandas as pd
odi=pd.DataFrame({})
odi['TEAM']=TEAM
odi['MATCHES3']=MATCHES3
odi['POINT3']=POINT3

In [119]:
odi

                TEAM MATCHES3 POINT3
0            England       44  5,405
1              India       52  6,102
2        New Zealand       32  3,716
3          Australia       39  4,344
4       South Africa       31  3,345
5           Pakistan       35  3,490
6         Bangladesh       34  2,989
7          Sri Lanka       39  3,297
8        West Indies       43  3,285
9        Afghanistan       28  1,549
10           Ireland       24  1,256
11       Netherlands        5    222
12          Zimbabwe       27  1,121
13              Oman       12    479
14          Scotland       16    419
15             Nepal        9    161
16               UAE       15    259
17           Namibia        9    152
18     United States       14    185
19  Papua New Guinea       14      0

In [120]:
import csv
#save to CSV
odi.to_csv('odi.csv')

# test team

# now we use Pandas read_HTML function to scrape table

In [136]:
import pandas as pd

In [138]:
pd.__version__

'1.0.1'

In [140]:
d=pd.read_html("https://www.icc-cricket.com/rankings/mens/team-rankings/test")

In [141]:
type(d)

list

In [142]:
len(d)

1

In [143]:
df=d[0]

In [144]:
df

   Pos           Team  T  Matches  M  Points  P  Rating  R
0    1   New Zealand  NZ          27       3198        118
1    2    Australia  AUS          26       3028        116
2    3        India  IND          27       3085        114
3    4      England  ENG          41       4326        106
4    5  South Africa  SA          26       2499         96
5    6     Sri Lanka  SL          30       2574         86
6    7     Pakistan  PAK          23       1890         82
7    8   West Indies  WI          25       1937         77
8    9   Bangladesh  BAN          17        939         55

In [145]:
type(df)

pandas.core.frame.DataFrame

# top 10 odi batsmen

In [147]:
d=pd.read_html("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")

In [148]:
df=d[0]

In [152]:
df.head(10)

,Pos,Player,Team,Rating,Career Best Rating
0,1,Virat Kohli,IND,870,"911 v England, 12/07/2018"
1,2,Rohit Sharma,IND,842,"885 v Sri Lanka, 06/07/2019"
2,3,Babar Azam,PAK,837,"846 v Sri Lanka, 20/10/2017"
3,4,Ross Taylor,NZ,818,"841 v Bangladesh, 05/06/2019"
4,5 This player has moved up in the rankings si...,Aaron Finch,AUS,791,"798 v England, 25/06/2019"
5,6 This player has moved down in the rankings ...,Francois du Plessis,SA,790,"820 v Australia, 06/07/2019"
6,7,David Warner,AUS,773,"880 v Pakistan, 26/01/2017"
7,8,Kane Williamson,NZ,765,"799 v India, 09/07/2019"
8,9,Quinton de Kock,SA,755,"813 v Sri Lanka, 10/03/2019"
9,10,Jonny Bairstow,ENG,754,"777 v Australia, 21/06/2018"

# top 10 odi bowlers

In [153]:
d=pd.read_html("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")

In [154]:
df=d[0]

In [155]:
df.head(10)

,Pos,Player,Team,Rating,Career Best Rating
0,1,Trent Boult,NZ,722,"770 v West Indies, 22/06/2019"
1,2,Mujeeb Ur Rahman,AFG,701,"707 v West Indies, 11/11/2019"
2,3,Jasprit Bumrah,IND,700,"841 v West Indies, 01/11/2018"
3,4,Chris Woakes,ENG,675,"676 v New Zealand, 14/07/2019"
4,5 This player has moved up in the rankings si...,Kagiso Rabada,SA,665,"724 v England, 29/05/2017"
5,6 This player has moved down in the rankings ...,Josh Hazlewood,AUS,660,"733 v England, 26/01/2018"
6,7 This player has moved up in the rankings si...,Mohammad Amir,PAK,647,"663 v Sri Lanka, 02/10/2019"
7,8 This player has moved down in the rankings ...,Pat Cummins,AUS,646,"729 v Pakistan, 12/06/2019"
8,9,Matt Henry,NZ,641,"675 v Australia, 08/02/2016"
9,10,Jofra Archer,ENG,637,"642 v Australia, 13/09/2020"

In [156]:
import csv
#save to CSV
df.to_csv('df.csv')