# Write a python program to scrape ‘data scientist’ job listings for location ‘New Delhi’ from ‘Monster.com’. Itshould include all the jobs listed for the next 5 pages.

In [3]:
import requests
from bs4 import BeautifulSoup as soup

In [4]:
import requests
URL='https://www.monster.com/jobs/search/?q=Data-Scientist&where=india'

In [5]:
page = requests.get(URL)

In [6]:
bsobj=soup(page.content,'lxml')

In [7]:
title = []
for header in bsobj.findAll('h2',{'class':'title'}):
  title.append(header.text.strip())

In [8]:
title

['Lead Data Scientist - Bengaluru, Karnataka',
 'Senior Data Scientist - Bengaluru, Karnataka',
 'Data Science Quality Assessment Engineer - Bengaluru, Karnataka',
 'IT JOBS HYDERABAD,TELANAGANA,INDIA',
 'Senior Engineering Manager, Machine Learning']

In [9]:
company = []
for name in bsobj.findAll('div',{'class':'company'}):
  company.append(name.text.strip())

In [10]:
company

['EagleView Technologies',
 'EagleView Technologies',
 'EagleView Technologies',
 'GENUINE IT JOBS HYDERABAD',
 'Twilio']

In [11]:
location = []
for locs in bsobj.findAll('div',{'class':'location'}):
  location.append(locs.text.strip())
location = location[1:]

In [12]:
location

['Bengaluru, KT',
 'Bengaluru, KT',
 'Bengaluru, KT',
 'HYDERABAD,TELANGANA,INDIA, AS',
 'Bengaluru, Karnataka, KT']

In [15]:

import pandas as pd
d1 = {'title':title,'company':company,'location':location}
DataScientist_Monster= pd.DataFrame.from_dict(d1)

In [16]:
DataScientist_Monster

,title,company,location
0,"Lead Data Scientist - Bengaluru, Karnataka",EagleView Technologies,"Bengaluru, KT"
1,"Senior Data Scientist - Bengaluru, Karnataka",EagleView Technologies,"Bengaluru, KT"
2,Data Science Quality Assessment Engineer - Ben...,EagleView Technologies,"Bengaluru, KT"
3,"IT JOBS HYDERABAD,TELANAGANA,INDIA",GENUINE IT JOBS HYDERABAD,"HYDERABAD,TELANGANA,INDIA, AS"
4,"Senior Engineering Manager, Machine Learning",Twilio,"Bengaluru, Karnataka, KT"

In [17]:
import csv
#save to CSV
DataScientist_Monster.to_csv('DataScientist_Monster.csv')